body {
    text-align: center;
    background-color: gray;
}

p {
    display: inline-block;
    position: absolute;
}

#results, #turnDisplay {
    height: 50px;
    position: relative;
}

.hidden {
    display: none;
}
.square {
    display: inline-block;
    border: 2px solid black;
    width: 200px;
    height: 200px;
    margin: 1px;
    cursor: pointer;
}

#container {
    width: 650px;
    height: 650px;
    display: inline-block;
}

#reset {
    display: block;
    position: relative;
    left: 50%;
}
